@import './album-container.css';

.albumHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 var(--gray30);
    margin-block-end: 1rem;
}
.titleHeader {
    font: var(--small);
    text-transform: uppercase;
}
.numberSong-title {
    text-align: center;
    letter-spacing: .0625rem;
}
.nameSong-title {
    text-align: left;
}
.playSong-title {
    text-align: right;
}
.durationSong-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;    
    inline-size: 3rem;
}
.icon-clock {
    font-size: 1rem;
}