.header-album {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 var(--gray30);
}
.header-title {
    font: var(--small);
    text-transform: uppercase;
    padding-inline-start: .875rem;  
    padding-inline-end: .875rem;      
}
.title-numberSong {
    letter-spacing: .0625rem;
    flex-shrink: 0;
}
.numberSong{
    text-align: center;
}
.title-nameSong {
    flex: 4;
}
.nameSong {
    text-align: left;
}
.title-playSong{
    flex: 2;
}
.playSong {
    text-align: right;
}
.title-durationSong {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;    
}
.icon-clock {
    font-size: 1rem;
}