@import './identifier-about.css';
@import './identifier-info.css';

.identifier {
    block-size: 20rem;
    padding: 2rem;
    padding-block-end: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
    white-space: nowrap;
}
.identifier-coverAlbum {
    box-shadow: 0 .5rem .5rem 0 var(--gray50);
}
.identifier-coverAlbum img {
    inline-size: 15rem;
    block-size: 15rem;
    vertical-align: middle;
}