@import './identifier-about.css';
@import './identifier-info.css';

.identifier {
    block-size: 16rem;
    padding: 2rem;
    padding-block-start: .5rem;
    padding-block-end: .75rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1.5rem;
    white-space: nowrap;
}
.identifier-coverAlbum {
    box-shadow: 0 .1875rem .5rem rgba(0, 0, 0, 0.24);
}
.identifier-coverAlbum img {
    inline-size: 15rem;
    block-size: 15rem;
    vertical-align: middle;
}