.discography {
    padding: 1.5rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-end: 0;
}
.discography-block {
    margin-bottom: 1.5rem;
}
.discography-button {
    display: flex;
    gap: .5rem;
}