.user {
    background-color: var(--gray60);
    display: flex;
    gap: .25rem;
    border-radius: 2rem;
    inline-size: 12.125rem;
}
.user > * {
    flex-shrink: 0;
}
.user-profile {
    border-radius: 50%;
    overflow: hidden;
}
.user-profile img {
    inline-size: 1.75rem;
    block-size: 1.75rem;
    vertical-align: middle;
}
.user-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 7.625rem;    
    padding-inline-start: .25rem;
    padding-inline-end: .25rem;
}
.user-username {
    font: var(--baseFont);
    color: var(--white);
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}
.user .dropdown-toggle {
    background-color: var(--gray60); 
    color: var(--white);
    inline-size: 1.75rem;
    block-size: 1.75rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;   
}
.user .dropdown-toggle i {
    font-size: .4375rem;
}
.user .dropdown-toggle i {
    position: relative;
    top: -1px;
}