.buttonType {
    padding: .25rem .75rem;
    border-radius: 1rem / 50%;
    font: var(--baseFont);
    cursor: pointer;
    border: none;
}
.buttonType:active {
    transform: scale(.99);
}

.buttonType.is-primary {
    background-color: var(--white);
    color: var(--gray60);
}
.buttonType.is-primary:active {
    background-color: #dfdfdf;
}

.buttonType.is-secondary {
    background-color: #272727;
    color: var(--white);
}
.buttonType.is-secondary:hover {
    background-color: #303030;
}
.buttonType.is-secondary:active {
    background-color: var(--gray40);
}

