@import './playlist-list.css';
@import './search.css';
@import './navigation.css';
@import './searching-container.css';
@import './user.css';
@import './header.css';
@import './sticky.css';

.page {
    padding: 2rem;
    padding-block-start: 0;
}
.page-block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.page .header {
    margin-inline-start: -2rem;
    margin-inline-end: -2rem;
    margin-block-end: .5rem;
}