.playerControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.playerControl-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}