@import './icon.css';
@import './font.css';
@import './body.css';
@import './link.css';
@import './button-icon.css';
@import './sidebar.css';
@import './ellipsis.css';
@import './player.css';
@import './page.css';
@import './layout.css';
@import './scrollbar.css';
@import './album.css';
@import './artist.css';

:root {
    /* Colors*/
    --primary: #00B050;
    --white: #FFFFFF;
    --gray10: #B3B3B3;
    --gray20: #737373;
    --gray30: #282828;
    --gray40: #181818;
    --gray50: #121212;
    --gray60: #000000;

    /* Font */
    --baseFontFamily: Avenir, Helvetica, sans-serif;
    
    /* Text styles */
    /* SYNTAX → font: font-style, font-variant, font-weight, font-size, font-height, font-family; */
    --headline1: 900 2rem/normal var(--baseFontFamily); 
    --headline2: 800 1.5rem/1.75rem var(--baseFontFamily); 
    --baseFont: normal .875rem/1.375rem var(--baseFontFamily); 
    --baseFontBold: 900 .875rem/1.375rem var(--baseFontFamily); 
    --button: 500 .875rem/1rem var(--baseFontFamily); 
    --small: 500 .75em/normal var(--baseFontFamily); 
    /*'small' will be 75 % of the size of its parent*/
}